{% extends 'layout.html' %}

{% block content %}

    <div class="container">
        <div class="my-2" align="center">
            <h2 class="fs-2 fw-bold text-dark">Welcome
                <span class="text-white-blue">{{ user.username }}</span>
              </h2>
              <h6 class="lh-base w-75 mx-auto">Here are the driving schools that you have listed on our site</h6>
              <div style="width: 60px;" class="mx-auto border border-secondary"></div>
        </div>
        {% if user.isManager %}
        <div align="center">
            <a href="{% url 'home:school-create' %}" class="btn btn-white-blue btn-circle btn-l"><i class="bi bi-plus"></i></a>
        </div>
        <div class="container overflow-hidden pb-3 pt-4">
            <div class="row gy-4">
            {% for school in schools %}
                <div class="col-12 col-md-4">
                    <div class="card shadow-sm">
                        <a href="{% url 'home:school-details' school.id %}">
                            <img src="{{ school.picture_url }}" alt="{{ school.name }}" class="card-img-top img-school" height="180">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">{{ school.name }}</h5>

                            <p class="card-text">{{ school.description }}</p>
                        </div>
                        <div class="my-3" align="center">
                            <a href="{% url 'home:add-event' school.id %}" class="btn btn-success"> Add an event  </a>
                            <a href="{% url 'home:school-delete' school.id %}" class="btn btn-danger"> Delete the school </a>
                        </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
        {% endif %}

        {% if user.isManager == False %}
            <!-- Create another if if user has reservations -->

            {% if reservations %}
                <p> My reservations </p>
                {% for reservation in reservations %}
                    <div>
                        <p> <a href="{% url 'home:reservation-detail' reservation.id %}">{{ reservation.name}} </p>
                        <a href="{% url 'home:cancel-slot' reservation.id %}" class="btn btn-danger"> Cancel participation </a>
                    </div>
                {% endfor %}
            {% else  %}
            <div align="center" class="my-5">
                <p> You currently doesn't any reservations. </p>
                <a href="{% url 'home:schools-with-slots' %}" class="btn btn-white-blue"> Look for available reservations </a>
            </div>
            {% endif %}
        {% endif %}
    </div>


{% endblock %}