{% extends 'layout.html' %}

{% block content %}

    <div class="container">
       <h3 class="text-center"> Welcome {{ user.username }} </h3>

        {% if user.isManager %}
            <p> I'm a school. </p>

            <div class="col-12 col-md-4">
            {% for school in schools %}
                    <div class="card mt-4 shadow-sm">
                        <a href="{% url 'home:school-details' school.id %}">
                            <img src="{{ school.picture_url }}" alt="{{ school.name }}" class="card-img-top img-school" height="180">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">{{ school.name }}</h5>

                            <p class="card-text">{{ school.description }}</p>
                        </div>
                        </a>
                    </div>
                    <a href="{% url 'home:add-event' school.id %}" class="btn btn-info"> Add an event  </a>
                    <a href="{% url 'home:school-delete' school.id %}" class="btn btn-danger"> Delete the school </a>
            {% endfor %}
            </div>
            <a href="{% url 'home:school-create' %}" class="btn btn-success btn-sm"> Create a new school</a>
        {% endif %}

        {% if user.isManager == False %}
            <!-- Create another if if user has reservations -->

            {% if reservations %}
                <p> My reservations </p>
                {% for reservation in reservations %}
                    <div>
                        <p> <a href="{% url 'home:reservation-detail' reservation.id %}">{{ reservation.name}} </p>
                        <a href="{% url 'home:cancel-slot' reservation.id %}" class="btn btn-danger"> Cancel participation </a>
                    </div>
                {% endfor %}
            {% else  %}
                <p> You currently doesn't any reservations. </p>
                <a href="{% url 'home:schools-with-slots' %}" class="btn btn-info"> Look for available reservations </a>
            {% endif %}
        {% endif %}
    </div>


{% endblock %}