{% extends 'layout.html' %}

{% block content %}

<div class="">

    <div class="container">
    <h3 class="text-center"> Register </h3>

    <form method="post">

        {% csrf_token %}
            {% for field in form %}
                {{ field.label_tag }}{{ field }}
                    {% if form.errors %}
                        {% for error in field.errors %}
                            <p> {{ error }}</p>
                        {% endfor %}
                    {% endif %}
            {% endfor %}
        <br>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    </div>
</div>

{% endblock %}