{% extends 'layout.html' %}

{% block content %}

<div class="">

    <div class="container">
        <div class="text-center py-4">
            <h2 class="fs-2 fw-bold text-dark">School with
              <span class="text-white-blue">Available Slots</span>
            </h2>
            <h6 class="lh-base w-75 mx-auto">Here you can register for events created by driving schools</h6>
            <div style="width: 60px;" class="mx-auto border border-secondary"></div>
        </div>
        {% for school in schools %}
            <div class="col-12 col-md-4">
                            <div class="card mt-4 shadow-sm">
                                <a href="">
                                    <img src="{{ school.picture_url }}" alt="{{ school.name }}" class="card-img-top img-school" height="180">
                                </a>
                                <div class="card-body">
                                        <h5 class="card-title">{{ school.name }}</h5>
                                    </a>
                                    <p class="card-text">{{ school.description }}</p>
                                </div>
                            </div>
            </div>
            <a href="{% url 'home:school-slots' school.id%}" class="btn btn-white-green">Check available slots</a>
        {% endfor %}
    </div>
</div>

{% endblock %}