{% extends 'layout.html' %}
{% load static %}

{% block content %}
<main class="form-signin w-100 m-auto">
  <form class="text-center" method="POST">
    {% csrf_token %}
    <img src="{% static 'ico/fiat_500.ico' %}" alt="" width="72" height="72">
    <h1 class="h3 mb-3 fw-normal">Please Login</h1>
    <p>Don't have an account ? <a href="{% url 'home:signup' %}">Register</a></p>

{% for field in form %}
    {% if form.errors %}
        {% for error in field.errors %}
            <strong style="color: red">{{ error }}strong>
        {% endfor %}
    {% endif %}
    <div class="form-floating">
        {{ field }}
        {{ field.label_tag }}
    </div>
{% endfor %}
<button class="w-100 btn btn-lg btn-white-blue mt-3" type="submit">Login</button>
  </form>
  </main>
{% endblock %}