{% extends 'layout.html' %}
{% load static %}

{% block content %}
<main class="container my-4">
    <div class="p-4 p-md-5 mb-4 text-white rounded img-school" style="background-image: url('{{school.picture_url}}'); ">
      <div class="col-md-6 px-0">
        <h1 class="display-7 fst-italic">{{ school.name }}</h1>
        <p class="lead mb-0"><a href="http://maps.google.com/?q={{school.address}}" class="text-white fw-bold">{{ school.address }}</a></p>
      </div>
    </div>
    <div class="container">
        <div class="infos">
            <p> School name : {{ school.name }} </p>
            <p> Address school : {{ school.addresse }} </p>
            <p> Phone school : {{ school.phone }} </p>
            <p> Description : {{ school.description }} </p>
        </div>
        <hr>
        <div class="events">
            {% if events %}
                {% for event in events %}
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title"> {{ event.name }}</h3>
                            <p class="card-text"></p>
                        </div>
                        <a href="{% url 'home:edit-event' school.id event.id%}" class="btn btn-info"> Edit this event</a>
                        <a href="{% url 'home:delete-event' event.id%}" class="btn btn-danger"> Delete this event</a>
                    </div>
                {% endfor %}
                 <a href="{% url 'home:add-event' school.pk %}" class="btn btn-info"> Create a new event </a>
            {% else %}
                <p> You don't have events planned</p>
                <a href="{% url 'home:add-event' school.pk %}"> Create a new event </a>
            {% endif %}
        </div>
    </div>
  </main>
{% endblock %}